@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;	
}
body{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	min-height: 100vh;
	background-image: url("图片/背景.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.tiao{
	display:flex;
	position: relative;
	box-shadow: 0 25px 40px #A37B9B; 
	margin-top: 50px;
	width: 1535px;
	height: 16%;
	background-color: #CDBBDE; 
}

.zi h1{
	color:  #A37B9B;
	margin-top: 35px;
	margin-left: 130px;
	font-size: 100px;
	text-shadow:  0 5px 8px rgba(0,0,0,1.00);
}
.mei h1{
	color:  #A37B9B;
	margin-left: 130px;
	font-size: 150px;
	text-shadow:  0 5px 8px rgba(0,0,0,1.00);
}
.shell{
	margin-left: 20px;
	margin-top: 125px;
	position: relative;
	min-width: 1000px;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	transform-style: preserve-3d;
	perspective: 950px;
}

.shell .box{
	position: relative;
	width: 250px;
	height: 250px;
	transition: .3s;
	overflow: hidden;
	margin: 40px;
	transform: rotateY(0);
	transition-delay: .1s;
	border-radius: 5px;
	border: #A37B9B 5px solid;
}
.shell .box .image img{
	width: 100%;
	
}
.shell:hover .box{
	transform: rotateY(20deg);

}
.shell .box:hover{
	transform: rotateY(0deg) scale(1.20);
	box-shadow: 0 25px 40px #F2C8CC;
	z-index: 1;
}
.shell .box .content{
	position: absolute;
	top: -50px;
	width: 90%;
	height: 100%;
	z-index: 999;
	padding: 75px;
}
.shell .box .content h1{
	color: #906E89;
	transition: .3s;
	font-size: 50px;
	transform: translateY(-200px);
}
.shell .box:hover .content h1{
	transform: translateY(-15px);
}
